[Unit]
Description=NordVPN connection manager
Wants=network-online.target
After=network-online.target
After=multi-user.target
[Service]
Type=simple
User=root
WorkingDirectory={{ virtualenv_path }}/lib/python{{ python_executable_version.stdout }}/site-packages/openpyn/
ExecStartPre=/usr/bin/sleep 5
ExecStart={{ bin_path }}/openpyn fr
ExecStop={{ bin_path }}/openpyn --kill
StandardOutput=syslog
StandardError=syslog
[Install]
WantedBy=multi-user.target
